project/
load_data.py
data_utils-Joe’s MacBook Pro.py
train_utils-Joe’s MacBook Pro.py
ipynb_checkpoints/
train_iid-Joe’s MacBook Pro.py
utils/__pycache__
test_prepare_data.ipynb
train_iid-Joe’s MacBook Pro-2.py
.ipynb_checkpoints/
train_iid-Joe’s MacBook Pro-2.py
slurm-*